.bg {
    background-image: url("img/headphones_hero_2.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
  
}
.just{
    background-image: url("img/pentagone.png");
     padding: 140px;
     
   background-repeat: no-repeat;
   background-position: center;
   text-align: center;

   
}

img{
    display: block;
    max-inline-size: 100%;
}