body{
width: 1440;
height: 3718;
top: -0px;
left: -0px;
background: #FFFFFF;
}
header{
width: 1103.4078369140625;
height: 29.46099090576172;
top: 35.02px;
left: 171.59px;

}
menu{
width: 234;
height: 15;
top: 37px;
left: 1041px;
}
text LOGIN{
width: 34;
height: 15;
left: 200px;
font-family: Source Sans Pro;
font-weight: 700;
font-size: 12px;
line-height: 100%;
letter-spacing: 0px;
background: #FFFFFF;

}
text PRICING{
	width: 45;
height: 15;
left: 102px;
font-family: Source Sans Pro;
font-weight: 700;
font-size: 12px;
line-height: 100%;
letter-spacing: 0px;
background: #FFFFFF;

}
main{
	background-blend-mode: color;
background: #000000;
background: radial-gradient(85.9% 85.9% at 50% 14.1%, rgba(41, 48, 61, 0.0001) 0%, #071629 100%);
width: 1448.150146484375;
height: 1055;
top: -66px;
left: -4.08px;


}
.pros{
	width: 1009;
height: 237;
top: 758px;
left: 217px;
background-color: aqua;
}
.pro_1{
	width: 150;
height: 237;
top: 758px;
left: 217px;
background-color: antiquewhite;
}