body{
width: 1440;
height: 1093;
width: 1448.150146484375;
height: 1055;
top: -66px;
left: -4.08px;
background: #ffffff;

}
.o{
background: #071629;

}
.learn{
width: 261;
height: 40;
top: 631px;
left: 604px;
font-family: Source Sans Pro;
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;

}
.button{
width: 162;
height: 44;
top: 419px;
left: 639px;
box-shadow: 0px 2px 20px 0px #00000080;


}
.part_te{
width: 1440;
height: 392;
top: 1093px;
left: -1px;
background: #C271FF;

}
.tes{
width: 943;
height: 160;
top: 1201px;
left: 259px;

}
.avatar1{
width: 160;
height: 160;
top: 1201px;
left: 259px;

}
.f{
width: 920;
height: 707;
top: 2678px;
left: 249px;

}
.a{
width: 136;
height: 75;
left: 407px;
font-family: Source Sans Pro;
font-weight: 300;
font-size: 60px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
background: #071629;

}
.j{
width: 145;
height: 20;
font-family: Source Sans Pro;
font-weight: 700;
font-size: 16px;
line-height: 100%;
letter-spacing: 0px;
background: #071629;

}
.k{
width: 350;
height: 192;
top: 50px;
font-family: Source Sans Pro;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0px;
background: #07162980;

}